.container
  .row.mt-5
    .col-md-12.my-4
      .list
        %h4 Ciudades
      %table.table
        %thead
          %tr
            %th Nombre estado
            %th Nombre ciudad
            %th Código
        %tbody
          - @cities.first(20).each do |city|
            %tr
              %td= city.state.name
              %td= city.name
              %td= city.code
    = render "back"